.scrollCaptureData {
    margin:4px, 4px;
    padding:4px;
    background-color: transparent;
    width: 98%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}