<div style="padding-top: 5px" class="container">
  <div class="row" style="margin-top: 1px; margin-bottom: 1px">
    <div class="scrollCaptureData">
      <table class="table" id="tblTown" style="display: block; width: 100%">
        <tr *ngFor="let tsod of CDB; index as i">
          <td style="width: 90%">
            <button
              type="button"
              class="btn btn-outline-dark btn-sm"
              style="width: 80%"
              (click)="ZoomToWKT(tsod.WKT)"
              title="{{tsod.LAYER}}"
            >
              {{ tsod.LPI }}
            </button>
          </td>
          <td>
            <img
              src="assets/Icon/Delete_Bookmark.png"
              class="me-2"
              style="width: 14px; cursor: pointer"
              (click)="DeleteFromClientArray(tsod.GID)"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 1px; margin-bottom: 1px">
    <div class="col-sm"></div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        (click)="CLearSelectedLPI()"
      >
        Clear
      </button>
    </div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        (click)="SendToParentApp()"
      >
        Submit
      </button>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
