.box-body {
    width: 90%;
    /*height: 500px;*/
    position: absolute !important;
    border: 1px solid black;
    /*z-index: 16;*/
    /*max-height: 100%;*/
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 40px;
    /*max-height: 600px !important*/
  }
  
  .panel-heading {
    padding: 10px 10px 10px 10px;
    background-color: #555151;
    width: 100%;
  }
  .heading {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /*font-family: "Montserrat", sans-serif;*/
    color: #2f2c2c;
    font-weight: 700;
  }
  
  .box {
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .box-body-group {
    width: 30%;
    position: absolute;
    top: 60%;
    left: 60%;
    border: 1px solid black;
    background-color: #ffffff;
    display: none;
  }
  
  .panel-heading-group {
    padding: 3px 3px 3px 3px;
    background-color: #555151;
    width: 100%;
  }
  .heading-group {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
  }
  