.navbar-custom {
  background-color: #3b5275;
}
.navbar-nav {
  justify-content: flex-end !important;
  flex: 1;
}

.header_OverLayer {
  float: right;
  width: auto;
  height: auto;
  margin-right: 2%;
  margin-top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}

.header_Validate {
  float: right;
  width: auto;
  height: auto;
  margin-right: 2%;
  margin-top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  display: none;
}

.header_Capture {
  float: right;
  width: auto;
  height: auto;
  margin-right: 2%;
  margin-top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  display: none;
}

#map {
  margin-top: 0vh;
  width: 100%;
  height: 90vh;
  position: absolute;
  background-color: #3b5275;
}

/* Back Drops */
.toolContainerbox {
  z-index: 81000;
  position: absolute;
  width: 20%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: transparent;
  display: none;
}
.toolContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolContainerboxHeaderTable {
  font-weight: 900;
}
.toolContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.basemapbutton {
  background-color: #3b5275;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 95%;
  border-radius: 12px;
}
/* Back Drops */

/* Layer Manager */
.toolLMContainerbox {
  z-index: 81000;
  position: absolute;
  width: 25%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: transparent;
  display: none;
}
.toolLMContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolLMContainerboxHeaderTable {
  font-weight: 900;
  width: 100%;
}
.toolLMContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolLMContainerMain {
  padding: 10px;
  background-color: #ffffff;
  max-height: 300px;
  overflow-y: scroll;
  font-size: smaller;
}
/* Layer Manager */

/* Map Tools Container */

.toolMapToolsContainerbox {
  z-index: 81000;
  position: absolute;
  width: 26%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolMapToolsContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolMapToolsContainerboxHeaderTable {
  font-weight: 900;
  width: 100%;
}
.toolMapToolsContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}

/* Map Tools Container */

/* Map Legend Container */

.toolMapLegendContainerbox {
  z-index: 81000;
  position: absolute;
  width: 20%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolMapLegendContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolMapLegendContainerboxHeaderTable {
  font-weight: 900;
}
.toolMapLegendContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolMapLegendContainerMain {
  padding: 10px;
}
/* Map Legend Container */

/* Map Print Container */

.toolMapPrintContainerbox {
  z-index: 81000;
  position: absolute;
  width: 20%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolMapPrintContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolMapPrintContainerboxHeaderTable {
  font-weight: 900;
}
.toolMapPrintContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolMapPrintContainerMain {
  padding: 10px;
  background-color: #ffffff;
  max-height: 300px;
  overflow-y: scroll;
  font-size: smaller;
}
/* Map Print Container */

/* Search Container */

.toolSearchContainerbox {
  z-index: 81000;
  position: absolute;
  width: 40%;
  height: auto;
  left: 10vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolSearchContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolSearchContainerboxHeaderTable {
  font-weight: 900;
  width: 100%;
}
.toolSearchContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
  margin-right: 230px;
}

/* Search Container */

/* Search By Drawing Container */

.toolSearchByDrawingContainerbox {
  z-index: 81000;
  position: absolute;
  width: 25%;
  height: auto;
  right: 1vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolSearchByDrawingContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolSearchByDrawingContainerboxHeaderTable {
  font-weight: 900;
}
.toolSearchByDrawingContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolSearchByDrawingContainerMain {
  padding: 1px;
  background-color: #ffffff;
  /*
  max-height: 300px;
  overflow-y: scroll;
  font-size: smaller;*/
}
/* Search By Drawing Container */

/* Bookmark Container */

.toolBookmarkContainerbox {
  z-index: 81000;
  position: absolute;
  width: 20%;
  height: auto;
  right: 5vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolBookmarkContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolBookmarkContainerboxHeaderTable {
  font-weight: 900;
}
.toolBookmarkContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}

/* Bookmark Container */

/* Data Capture Container */

.toolDataCaptureContainerbox {
  z-index: 81000;
  position: absolute;
  width: 23%;
  height: auto;
  right: 5vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolDataCaptureContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolDataCaptureContainerboxHeaderTable {
  font-weight: 900;
}
.toolDataCaptureContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}

/* Data Capture Container */

/* Identify Container */

.toolIdentifyContainerbox {
  z-index: 81000;
  position: absolute;
  width: 20%;
  height: auto;
  right: 5vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolIdentifyContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolIdentifyContainerboxHeaderTable {
  font-weight: 900;
}
.toolIdentifyContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}

/* Identify Container */


/* Bottom Grid Container */

.toolBottomGridContainerbox {
  z-index: 81000;
  position: absolute;
  width: 99%;
  height: 30vh;
  left: 1vh;
  bottom: 6vh;
  background-color: #ffffff;
  display: none;
}
.toolBottomGridContainerboxHeader {
  width: 100%;
  background-color: #3b5275;
  color: white;
}
.toolBottomGridContainerboxHeaderTable {
  font-weight: 900;
}
.toolBottomGridContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolBottomGridContainerMain {
  padding: 1px;
  background-color: #ffffff;
  font-size: smaller;
  /*
  max-height: 300px;
  overflow-y: scroll;
  font-size: smaller;*/
}
/* Bottom Grid Container */

/* Split Polygon Grid Container */

.toolSPGridContainerbox {
  z-index: 81000;
  position: absolute;
  width: 40%;
  height: 50vh;
  right: 5vh;
  top: 10vh;
  background-color: #ffffff;
  display: none;
}
.toolSPGridContainerboxHeader {
  width: 100%;
  background-color: #555151;
  color: white;
}
.toolSPGridContainerboxHeaderTable {
  font-weight: 900;
}
.toolSPGridContainerboxHeaderClose {
  cursor: pointer;
  margin-top: 2px;
}
.toolSPGridContainerMain {
  padding: 1px;
  background-color: #ffffff;
  font-size: smaller;
  /*
  max-height: 300px;
  overflow-y: scroll;
  font-size: smaller;*/
}
/* Split Polygon Grid Container */

.locationDov {
  position: absolute;
  top: 10%;
  left: 10%;
  color: green;
  font-size: medium;
  font-weight: bolder;
}
.zoom_level_loction {
  position: absolute;
  bottom: 10%;
  left: 1%;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(173, 172, 172);
}

.err_Msg_Div {
  position: absolute;
  top: 10%;
  right: 1%;
  font-size: medium;
  padding: 10px;
  background-color: rgb(240, 59, 59);
  color: #ffffff;
  display: none;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  border-color: #eff0ec;
  border-width: 2px;
  border-style: double;
}
.err_Msg_Div_Close {
  right: 10px;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  border-color: #eff0ec;
  border-width: 2px;
  border-style: double;
}
.info_Msg_Div {
  position: absolute;
  top: 10%;
  right: 1%;
  font-size: medium;
  padding: 10px;
  background-color: rgb(226, 230, 8);
  color: #071ff7;
  display: none;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  border-color: #eff0ec;
  border-width: 2px;
  border-style: double;
}
.info_Msg_Div_Close {
  right: 10px;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  border-color: #eff0ec;
  border-width: 2px;
  border-style: double;
}
.info_Loader_Div {
  position: absolute;
  top: 1%;
  right: 1%;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}

.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

  .ol-tooltip-measure:before,
  .ol-tooltip-static:before {
      border-top: 6px solid rgba(0, 0, 0, 0.5);
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      margin-left: -7px;
      left: 50%;
  }

  .ol-tooltip-static:before {
      border-top-color: #ffcc33;
  }

  .lm_result {
    font-size: small;
    height: 30vh;
    overflow: scroll;
  }

  .ol_tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 170px; /* gives an initial height of 200px to the table */
    width: 50vh;
    
  }

  .SP_result {
    font-size: small;
    height: 48vh;
    overflow: scroll;
  }

  .applybutton {
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 95%;
  }

  .search-feasibility-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 6px 12px;
    width: 100%;
    max-width: 400px;
  }
  
  .search-feasibility-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 24px;
  }
  
  .search-feasibility-box button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
  }
  
  .material-icons {
    font-size: 20px;
    color: #888;
  }


  .custom-dropdown {
    appearance: none; /* Remove default browser styles */
    background: white;
    border: none;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px 16px;
    font-size: 14px;
    margin-left: 20px;
    color: #333;
    width: 80%;
    max-width: 400px;
    outline: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
  }

  